'\nThis is a multi-line comment.\nIt spans multiple lines.\nYou can use it for long explanations or notes.\n'

In [40]:
'''
This is a multi-line comment.
It spans multiple lines.
You can use it for long explanations or notes.
'''
# 1. Integer
# Integer is a whole number, positive or negative, without decimals.
integer_example = 42
print(integer_example)
print(52)

42
52

In [42]:
# 2. Float
# Float is a number that has a decimal point.
float_example = 3.14
print(float_example)

3.14

In [44]:
# 3. String
# String is a sequence of characters enclosed in single or double quotes.
# Immutable
string_example1 = "Hello, Jyothy!"
string_example2 ='42'
print(string_example1)
print(string_example2)
print(type(string_example2))
# Print without using a variable
print("Welcome to the world of Python") # Within inverted comma
print("52") # Within inverted comma

Hello, Jyothy!
42
<class 'str'>
Welcome to the world of Python
52

In [58]:
# 4. Boolean
# Boolean type represents True or False values.
boolean_example = True

print(boolean_example)
print(5>2)

print(type(boolean_example))
print(type(True)) # First letter should be capital
#print(type(true)) Will show error because first letter is not capital.
print(type((5>2)))

True
True
<class 'bool'>
<class 'bool'>
<class 'bool'>

In [11]:
# 5. List
# List is an ordered collection of items, which can be of different data types.
# Mutable
list_example = [1, 2, 3, "Python", 3.14]
print(list_example)

[1, 2, 3, 'Python', 3.14]

In [13]:
# 6. Tuple
# Tuple is similar to a list but is immutable (cannot be changed).
# Immutable
tuple_example = (1, 2, 3, "Python")
print(tuple_example)

(1, 2, 3, 'Python')

In [15]:
# 7. Set
# Set is an unordered collection of unique elements.
# Mutable
set_example = {1, 2, 3, 4, 5}
print(set_example)

{1, 2, 3, 4, 5}

In [17]:
# 8. Dictionary
# Dictionary is an unordered collection of key-value pairs.
# Mutable
dictionary_example = {"name": "John", "age": 30}
print(dictionary_example)

{'name': 'John', 'age': 30}

In [19]:
# 9. None
# None represents the absence of a value or a null value.
none_example = None
print(none_example)

None

In [21]:
# 10. Complex Number
# Complex numbers are numbers with both a real and an imaginary part.
complex_example = 3 + 4j
print(complex_example)

(3+4j)